.font-family-worksans {
  font-family: 'Work Sans', sans-serif;
}

.font-family-comforter {
  font-family: 'Comforter', cursive;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

